*{
    box-sizing: border-box;
    font-family: "Raleway";
    font-size: large    ;
}

body{
    background-color: rgb(54, 54, 54);
}

#bodywrapper{
    background-color: rgb(255, 233, 253);
    margin: 0 auto;
    width : 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    border-radius:  10px;
    padding: 20px;
    background-color: rgb(223, 223, 223);
}

#createwrapper{ 
    display: flex;
    flex-direction:row;
    width: 100%;
    padding-right: 10px;
    margin-bottom: 10px;    
}

#addtextbox{
    flex: 5;
    height: 50px;
    padding-left: 15px;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-bottom: 0px solid black;
    border-right: 0px solid black;
    font-weight: bold;
}

#addtextbox::placeholder{
    color: rgb(158, 158, 158);
}

#addbutton{
    flex: 1;
    height: 50px; 
    font-size: 40px;
    color: rgb(89, 196, 204);
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    border: 0px solid black;
}

#mainwrapper{
    width: 100%;
    height: 100%;
    overflow:auto;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px){
    #bodywrapper{
        width:95%;
        height: 90vh;
    }
}

